@{
    ViewBag.Title = "About";
}
<h1 style="margin-left:650px;font-family:slick"><b>TIN TỨC</b></h1>
<img class="anh" src="~/Pictures/tin-tuc/background-tintuc.png" />
<style>
    .anh {
        width: 100%;
        height: 100%;
        object-fit: fill;     
        margin: 80px;
        position: absolute;
    }
    
</style>
<div class="container">
    <div class="col-sm-4">
        <img src="~/Pictures/tin-tuc/TINTUC_01.jpg" width="200" height="200" />
        <p></p>
    </div>
    <div class="col-sm-4">
        <img src="~/Pictures/tin-tuc/TINTUC_02-05.jpg" width="200" height="200" />
        <p></p>
    </div>
    <div class="col-sm-4">
        <img src="~/Pictures/tin-tuc/TINTUC_03.jpg" width="200" height="200" />
        <p></p>
    </div>
    <div class="col-sm-4">
        <img src="~/Pictures/tin-tuc/TINTUC_04.jpg" width="200" height="200" />
        <p></p>
    </div>
    <div class="col-sm-4">
        <img src="~/Pictures/tin-tuc/TINTUC_05.jpg" width="200" height="200" />
        <p></p>
    </div>
    <div class="col-sm-4">
        <img src="~/Pictures/tin-tuc/TINTUC_06.jpg" width="200" height="200" />
        <p></p>
    </div>
    <div class="col-sm-4">
        <img src="~/Pictures/tin-tuc/TINTUC_07.jpg" width="200" height="200" />
        <p></p>
    </div>
    <div class="col-sm-4">
        <img src="~/Pictures/tin-tuc/TINTUC_08.jpg" width="200" height="200" />
        <p></p>
    </div>
    <div class="col-sm-4">
        <img src="~/Pictures/tin-tuc/TINTUC_09.jpg" width="200" height="200" />
        <p></p>
    </div>
    <style>
        .col-lg-2 {
           margin-left:30px; 
           justify-content:center;
            align-items: center;
        }
    </style>
</div>

