@using Nhom18_TTCM_CNTTVA1_K61.Models
@model News
@{
    ViewBag.Title = "DetailNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .back2 {
        width: 100%;
        height: 100%;
        object-fit: fill;
        margin: 80px;
    }
    .tintuc{
        position:absolute;
        top:100px;
        margin-left:280px;
    }
</style>
<img class="back2" src="~/Pictures/bai-viet/background.jpg" />
<div class="tintuc" style="display:flex">
    <div style="width:800px">
        <div>
            <h1>@Model.Namecontent</h1>
            
        </div>
        <div>
            <h4>@Model.Content</h4>
            <img src=@Url.Content("~/Pictures/tin-tuc/" + Model.Imagecontent) width="800" height="400" />
            <h4>@Model.Content2</h4>
        </div>
    </div>

    <div >
        <h3>Bai viet moi</h3>
        <div style="display:flex">
            <img src=@Url.Content("~/Pictures/tin-tuc/" + Model.Imagecontent) width="70" height="70" />
            <h5>@Model.Namecontent</h5>
        </div>
       
    </div>
</div>


