@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <div class="display-container">
        <div class="banner1">
            <img class="mySlides3" src="~/Pictures/trang-chu/banner.png" width="1450" height="550">
            <h2 style="font-family: slick">TRÀ ƯỚP SEN TÂY HỒ</h2>
            <p style="font-family: thin; font-size:16px">Sự hòa quyện tuyệt với giữa hương thơm ngan ngát của<br /> sen Bách diệp Hồ Tây và vị đậm trà của Tân Cương.</p>
            <button>THỬ NGAY</button>
        </div>
        <div class="banner2">
            <img class="mySlides3" src="~/Pictures/trang-chu/background2.png" width="1450" height="550">

        </div>
        <div class="banner2">

            <img class="mySlides3" src="~/Pictures/trang-chu/bgSanpham.png" width="1450" height="550">
        </div>

        <div class="badge" style="background-color:white ">

            <span class="image-badge" onclick="currentDiv(1)"></span>
            <span class="image-badge" onclick="currentDiv(2)"></span>
            <span class="image-badge" onclick="currentDiv(3)"></span>
        </div>
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides3");
            var dots = document.getElementsByClassName("image-badge");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" badge-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " badge-white";
        }
    </script>
</div>

@*<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="~/Pictures/trang-chu/product-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="~/Pictures/trang-chu/product-2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="~/Pictures/trang-chu/product-3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="~/Pictures/trang-chu/product-4.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>*@
   

<div style="margin-left: 60px" class="banner2">
    <img src="~/Pictures/trang-chu/background2.png" width="1450" height="550" />
    <h2 style="font-family: thin; font-size:32px"> <b>GIỚI THIỆU</b></h2>
    <p style="font-family: thin; font-size:16px; color:black">
        Trà ướp Sen Bách Diệp- tinh hoa văn hóa Hà Thành là sự hòa quyện tuyệt vời <br />
        giữa hương thơm ngan ngát của bông sen Bách Diệp Hồ Tây và vị đậm đà của trà <br />
        Tân Cương Thái Nguyên. Qua đôi bàn tay tài hoa và bí quyết nghề mật truyền <br />
        nhiều đời của người thợ trà Thăng Long,tạo ra thức quà tinh túy,kết tinh văn hóa <br />
        ngàn năm Thăng Long - Hà Nội.
    </p>
    <button>ĐỌC THÊM</button>
</div>

<div style="margin-left: 60px" class="nghenhan">
    <h2 style="font-family: thin; font-size:32px"><b>NGHỆ NHÂN TRÀ ĐẠO</b></h2>
    <div class="row" style="font-family: thin; font-size:16px; color:black">
        <div class="anhnn">
            <img src="~/Pictures/trang-chu/professional-tea-1.png" />
            <h4>Nn. Nguyễn Cao Sơn</h4>
            <p>
                Nguyễn Cao Sơn được chọn làm đại <br />
                diện quảng bá văn hổa Trà Việt tại <br />
                ngôi nhà di sản 87 Ms Mây, Hà Nội.
            </p>
        </div>
        <div class="anhnn">
            <img src="~/Pictures/trang-chu/professional-tea-2.png" />
            <h4>Nn. Hướng Anh Sướng</h4>
            <p>
                Truyền nhân đòi thứ 6 của dòng trà <br />
                Trường Xuân, Hà Nội chia sẻ về nghệ <br />
                thuật trà đạo, lĩnh vực mà anh dành <br />
                hơn nửa cuộc đời nghiên cứu một sách <br />
                đam mê
            </p>
        </div>
        <div class="anhnn">
            <img src="~/Pictures/trang-chu/professional-tea-3.png" />
            <h4>Nn. Nguyễn Thị Dần</h4>
            <p>
                Vẫn tự tay chọn hoa, tách gạo, thực <br />
                hiện từng công đoạn ướp trà sen. Cũng <br />
                chính bởi nghiện trà, bởi yêu nghề nên <br />
                Cô thiếu nữ Hà thành năm xưa vẫn say <br />
                hương vị trà sen Tây Hồ.

            </p>
        </div>
        <div class="anhnn">
            <img src="~/Pictures/trang-chu/professional-tea-4.png" />
            <h4>Nn. Nguyễn Hoài Linh</h4>
            <p>
                Vô địch toàn thế giới trong cuộc thi <br />Tea Master Cup International 2018 về <br />pha trà được tổ chức tại Huế
            </p>
        </div>
        <div class="anhnn">
            <img src="~/Pictures/trang-chu/professional-tea-5.png" />
            <h4>Nn. Viên Trân</h4>
            <p>
                Sinh ra và lớn lên trong một gia đình<br /> quý tộc phong kiến, trong một môi <br />trường mà việc uống trà và trà cực<br /> ngon, cực thượng hạng là điều không <br />bao giờ thiếu trong nhà.
            </p>
        </div>
    </div>
</div>

<div class="banner4">
    <img src="~/Pictures/trang-chu/bannermuangay.png" width="1450" height="300" />
    <h2 style="font-family: thin; font-size:32px">MUA NGAY</h2>
    <input size="100" type="text" name="Số điện thoại/Email" />
    <button type="submit">GỬI</button>
</div>



