
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .b1gt img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-left: 80px;
      
    }
    .b2gt img {
        width: 100%;
        height: 1000px;
        object-fit: contain;
        margin-left: 80px;
        
    }
    
    .gt{
        position:absolute;
        top:500px;
    }
        .gt h2 {
            margin-top: 150px;
        }
    .h1bn {
        position: absolute;
        top: 300px;
        margin-left: 300px;
        font-family: 'SVN-Athena_0';     
    }
    .h2bn {
        position: absolute;
        top: 280px;
        margin-left: 300px;
        font-family: 'SVN-Athena_0';
    }
    .gt h2 {
        text-align: center;
        font-size: 40px;
        font-family: 'SVN-Athena_0';
        color: black;
    }

    .gt p {
        font-size: 20px;
        color: black;
        font-family: 'SVN-Athena_0';
    }
</style>
<h2 class="h2bn" style="color: #9acd32">TRÀ SEN </h2>
<h1 class="h1bn" style="color: black"> <b>BÁCH DIỆP</b></h1>
<div class="b1gt">
    <img src="~/Pictures/gioi-thieu/banner.jpg" />
</div>
<div class="b2gt"> 
    <img src="~/Pictures/gioi-thieu/banner2.jpg" />
</div>
<div class="container" style="margin-left:200px">
    <div class="gt">
        <h2><b>GIỚI THIỆU</b></h2>
        <p>
            Bằng sự nỗ nực không ngừng, trải qua hơn 10 năm xây dựng và phát triển trong lĩnh vực trà Thái Nguyên, tháng 06/2017, công ty TNNHH Tân Cương Xanh chính thức kỉ niệm 20 năm thành lập (1997-2017). Trong 20 năm qua, thương hiệu trà Tân Cương Xanh đã ngày càng đi sâu vào thị trường trà Việt nói riêng và thế giới đồ uống nói chung.
            <br />
            <br />
            Với mục tiêu mang đến thị trường một sản phẩm trà mang thương hiệu Thái Nguyên “sạch” chính hiệu cũng như sự trăn trở về sự phát triển của thị trường chè Việt Nam, cách đây 10 năm trên thị trường trà Việt, người con ưu tú đó đã thành lập một công ty chuyên sản xuất và phân phối về trà sạch mang thương hiệu “Tân Cương Xanh”.
        </p>
        <img src="~/Pictures/gioi-thieu/intro1.jpg" width="1220" />
        <p>
            Với phương châm “Uy tín chất lượng sản phẩm là mục tiêu số 1”, Công ty TNHH Tân Cương Xanh đã luôn nỗ lực cả về nhân lực, vật lực, xây dựng uy tín thương hiệu, niềm tin với khách hàng thông qua những sản phẩm của công ty. Cùng với sự tín nhiệm của khách hàng vào sản phẩm của Tân Cương Xanh trong thời gian qua, Tân Cương Xanh đã không những phát triển thành một công ty vững mạnh trong ngành trà thái nguyên ngon Việt Nam đạt được Cúp Vàng thương hiệu Doanh Nhân Tinh hoa Đất Việt và Thương hiệu vàng Uy tín… Từ đó tạo nên động lực để Tân Cương Xanh phấn đấu để trở thành một trong những tập đoàn sản xuất, chế biến và cung cấp trà hàng đầu Việt Nam và thế giới
            <br />
            <br />
            Sản Phẩm của công ty đạt đầy đủ tiêu chuẩn vệ sinh an toàn của Chi Cục Vệ Sinh An Toàn Thực Phẩm Của Thái Nguyên - Của chi cục Hà nội.Đạt tiêu chuẩn xuất khẩu Chicago - Hoa Kì. Trà Tân Cương một loại đồ uống nổi tiếng trong ẩm thực của người Việt Nam có hương thơm cốm dịu dàng đặc trưng, màu nước xanh trong, sánh và bền, vị chát dịu, uống xong có hậu ngọt lắng sâu trong vị giác người thưởng thức. Sản phẩm trà tân cương thái nguyên của nhà máy có tác dụng giải nhiệt, giảm béo, trị tăng huyết áp và phòng chống phóng xạ, chống ung thư... Với phương châm "Uy tín chất lượng sản phẩm là mục tiêu số 1", Công ty TNHH Tân Cương Xanh không ngừng phấn đấu để trở thành một trong những tập đoàn sản xuất, chế biến và cung cấp trà hàng đầu Việt Nam và thế giới.
        </p>
        <img src="~/Pictures/gioi-thieu/intro2.jpg" width="1220" />
    </div>
</div>


