
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Nhom18_TTCM_CNTTVA1_K61.Models;
@model List<Product>
<style>
    .bannersp {
        position: absolute;
        margin-left: 650px;
        top: 240px;
        font-family: 'Global Serif';
    }

        .bannersp img {
            width: 800px;
            height: 300px;
            object-fit: fill;
            margin-left: 80px;
        }
</style>
<div>
    <h1 class="bannersp"><b>SẢN PHẨM</b></h1>
    <img src="~/Pictures/san-pham/banner.png" />
</div>
<section class="shop spad">
    <div class="container">
        <h2 style="font-size: 40px; font-family: 'Global Serif';"><b>Sản Phẩm</b></h2>
        <div style="display:flex">
            <b>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>
            <select name="cars" id="cars" style="margin-left:50px">
                <option value="volvo">Thu tu mac dinh</option>
                <option value="saab">Gia thap den cao</option>
                <option value="#">Gia cao den thap</option>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h5><b>Bộ lọc sản phẩm</b></h5>
                            <h4>Loại sản phẩm</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading active">
                                        <form action="/action_page.php">
                                            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                            <label for="vehicle1"> Trà xanh Thái Nguyên</label><br>
                                            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                            <label for="vehicle1"> Trà xanh Thái Nguyên</label><br>
                                            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                                            <label for="vehicle1"> Trà xanh Thái Nguyên</label><br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__filter">
                        <div class="section-title">
                            <h4>Giá thành</h4>
                        </div>
                    </div>
                    <div class="sidebar__sizes">
                        <div class="section-title">
                            <h4>Thương hiệu</h4>
                        </div>
                        <div class="size__list">
                            <label for="xxs">
                                Trà Tân Cương xanh
                                <input type="checkbox" id="xxs">
                                <span class="checkmark"></span>
                            </label>
                            <br />
                            <label for="xxs">
                                Trà Tân Cương xanh
                                <input type="checkbox" id="xxs">
                                <span class="checkmark"></span>
                            </label>
                            <br />
                            <label for="xxs">
                                Trà Tân Cương xanh
                                <input type="checkbox" id="xxs">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
               
                @foreach (var item in Model)
                {
                    <div class="col-lg-4" style="margin-top:20px;">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">

                                <div class="rating" style="display: flex">
                                    <i style="color: #9acd32" class="fa fa-star"></i>
                                    <i style="color: #9acd32" class="fa fa-star"></i>
                                    <i style="color: #9acd32" class="fa fa-star"></i>
                                    <i style="color: #9acd32" class="fa fa-star"></i>
                                    <i style="color: #9acd32" class="fa fa-star"></i>
                                    <div class="label new" style="background-color: #9acd32; margin-left: 90px">NEW</div>
                                </div>
                            </div>
                            <div class="product__item__text">
                                <a href="@Url.Action("Detail", new {@Idproduct=item.Idproduct })">
                                    <img src=@Url.Content("~/Pictures/" + item.Image) width="200" height="200" />
                                </a>
                                
                                <h3>@item.Name</h3>
                                <div class="product__price" style="display:flex">
                                    <div>@item.Price VND</div>

                                    <select name="cars" id="cars" style="margin-left:50px">
                                        <option value="volvo">@item.quantity g</option>
                                        @*<option value="saab">200g</option>*@
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                   
        </div>
    </div>


</section>



