@using Nhom18_TTCM_CNTTVA1_K61.Models
@model List<Product>
@{
    <li style="margin-bottom:10px;font-size:17px; "><a href="@Url.Action("SpTTMD","SanPham")" style="color: black">Thứ tự mặc định</a></li>
}


